#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
menu "Spectrum Function"


		
menuconfig SPM
	bool "Enable Spectrum"
	default y
	
	if SPM               
		choice 
			prompt "Spectrum Source Select"  
			default SPM_SOURCE_FPGA	
			
			config SPM_SOURCE_FPGA      
				bool "FPGA DMA"

			config SPM_SOURCE_CHIP
				bool "chip(adrv90xx)"
				
			config SPM_SOURCE_X86
				bool "X86 Demo"
			config SPM_SOURCE_XDMA
				bool "XDMA"
		endchoice                         
	endif
	
	config SPM_DISTRIBUTOR
        bool "FFT Distributor"
        default n
		depends on SPM
		
	config SPM_FFT_CONTINUOUS_MODE
        bool "FFT Continuous Mode"
        default n
		depends on SPM
	
	config SPM_FFT_WINDOWS
        bool "Windows"
        default n
		depends on SPM && SPM_SOURCE_FPGA
		
	config SPM_FFT_AGC
        bool "AGC"
        default n
		depends on SPM && SPM_SOURCE_FPGA
		
	config SPM_FFT_EXTRACT_POINT
        bool "Extrace Point"
        default n
		depends on SPM && SPM_SOURCE_FPGA
		
	config SPM_FFT_BOTTOM
        bool "FFT Bottom calibration"
        default n
		depends on SPM
		
	config SPM_FFT_SCAN_SEGMNET
        bool "FFT Scan Frequency Segmentation"
        default n
		depends on SPM && SPM_SOURCE_FPGA
		
	config SPM_FFT_IQ_CONVERT
        bool "IQ -> FFT convert"
	    select LIBIIO 
        select LIBFFTW3
        default n
		depends on SPM
    
	config SPM_FFT_SIGNAL_ANALYSIS
        bool "FFT analysis"
        default n
		depends on SPM && SPM_SOURCE_CHIP && SPM_FFT_IQ_CONVERT
	
	config SPM_FFT_BY_RESOLUTION
        bool "Get FFT Size by Resolution"
        default n
		depends on SPM
	
	config SPM_FFT_PACKAGING_PROCESS
        bool "FFT Packaging Processing"
        default n
		depends on SPM
		
	config SPM_FFT_CONTROL	
		bool "FFT Thread Control"
		depends on SPM && SPM_SOURCE_FPGA
		if SPM_FFT_CONTROL               
			choice 
				prompt "FFT Thread Control Select"  
				default SPM_FFT_PARALLEL	
				
				config SPM_FFT_PARALLEL    
					bool "Parallel Control"

				config SPM_FFT_SERIAL
					bool "Serial Control"
			endchoice                         
		endif
	
	config LIBIIO
        bool
        default n

    config LIBFFTW3
        bool
        default n	
	
endmenu
	
